+#------------------------------------
+# List here all files you do not want 
+# to track in the central repository
+# 
+# I copied this one from here: https://github.com/nolta/julia/blob/master/.gitignore
+# 
+#------------------------------------
+/*.tar.gz
+/tmp
+/dist
+/dist-extras
+/julia
+/usr
+/Make.user
+/julia-*
+/source-dist.tmp
+/source-dist.tmp1
+
+*.exe
+*.dll
+*.do
+*.o
+*.dylib
+*.dSYM 
